.app {
  display: flex;
  height: 100vh;
}

.form-section {
  flex: 0 0 400px;
  padding: 20px;
  border: 1px solid #ccc;
  width: 100vw;
  height: 100vh;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.products-section {
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

.products-section h2 {
  margin: 10px;
  position: relative;
}

.product-item {
  display: flex;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  gap: 10px;
  width: fit-content;
}

.product-item button {
  bottom: 0;
  left: 0;
  margin: 10px;
}

.total-price {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}


